/* 지도의 크기를 설정 */
#map {
    flex: 1;
    height: 100%;
    z-index: 1;
    position: relative;
    margin-left: 260px; /* Match the sidebar width */
    margin-top: 70px; /* Adjust for the height of the navbar */
}

#map {
    margin-left: 0; /* Full width when sidebar is closed */
}
