<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="/css/index.css">
</head>

<body>
<div class="container">
    <header>
        <p>남서울대학교</p>
        <ul>
            <li>
                <a href="">남서울대학교</a>
            </li>
            <li>
                <a href="/image.html">UPLOAD</a>
            </li>
            <li>
                <a href="/map.html">지도</a>
            </li>
        </ul>
    </header>

    <section>
        <p>안녕하세요</p>
        <a href="/image.html">UPLOAD</a>
        <a href="/map.html">지도</a>
    </section>

    <footer>Cover template for <a href="https//getbootstrap.com/"> Bootstrap</a>, by
        <a href="https://twitter.com/mdo">@mdo.</a>
    </footer>
</div>
</body>
</html>